// Heading.module.less
//
@import "../styles/skin.less";

.heading {
	.applySkins({
		font-family: @myhouse-heading-font-family;
		font-weight: @myhouse-heading-font-weight;
		color: @myhouse-heading-text-color;
		border-bottom: @myhouse-heading-border-width solid transparent;
		margin: 0 @myhouse-spotlight-outset (1.5 * @myhouse-spotlight-outset) @myhouse-spotlight-outset;
		min-height: (1.5 * @myhouse-spotlight-outset);
		letter-spacing: @myhouse-heading-letter-spacing;
		line-height: @myhouse-heading-line-height;
		text-shadow: @myhouse-heading-text-shadow;

		&.showLine {
			border-bottom-color: @myhouse-heading-border-color;
		}
	});
}
